{% extends 'shop/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <h2 class="mb-4">Checkout</h2>
            
            <form method="post" action="{% url 'shop:checkout' %}">
                {% csrf_token %}
                
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Shipping Information</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                {{ form.shipping_name|as_crispy_field }}
                            </div>
                            <div class="col-md-12 mb-3">
                                {{ form.shipping_address|as_crispy_field }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.shipping_city|as_crispy_field }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.shipping_postal_code|as_crispy_field }}
                            </div>
                            <div class="col-md-12 mb-3">
                                {{ form.shipping_country|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Payment Method</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            {{ form.payment_method }}
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary btn-lg">Place Order</button>
            </form>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Order Summary</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            {% for item in cart.items.all %}
                            <tr>
                                <td>{{ item.product.name }} x {{ item.quantity }}</td>
                                <td class="text-end">${{ item.total_price }}</td>
                            </tr>
                            {% endfor %}
                            <tr class="table-active">
                                <td><strong>Total</strong></td>
                                <td class="text-end"><strong>${{ cart.total_price }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
